{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-lg-8 mx-auto">

            <h1>{{ marunio1 }}</h1>
            <h1>{{ marunio2 }}</h1>
            <h1>{{ marunio }}</h1>
            <h1>Income {{ object.pk }}</h1>
            <ul>
                <li>Date: {{ income.date|date }}</li>
                <li>Type: {{ income.get_type_display }}</li>
                <li>Value: ${{ income.value }}</li>
                <li>Repetitive: {{ income.repetitive }}</li>
                {% if income.repetitive %}
                    <li>
                        Every: {{ income.repetition_time }} {{ income.get_repetition_interval_display }}
                    </li>
                {% endif %}
            </ul>
            <a href="{% url 'my_finances:income_update' object.pk %}">Update</a>
            <a href="{% url 'my_finances:income_delete' object.pk %}">Delete</a>
        </div>
    </div>
{% endblock %}