{% extends 'base.html' %}

{% block content %}
    <!-- Upload File Section Form-->
    <div class="row">
        <div class="col-lg-8 mx-auto">

            <form id="upload-file" name="upload-file" enctype="multipart/form-data" method="POST"
                  action="{% url 'airpollution:upload' %}">
                {% csrf_token %}
                <div class="control-group">
                    <div class="form-group controls mb-0 pb-2">
                        <label>Year</label>
                        <input class="form-control" id="year" name="year" type="number" placeholder="Year"
                               required="required" data-validation-required-message=""/>
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group controls mb-0 pb-2">
                        <label>File</label>
                        <input class="form-control" id="file" name="file" type="file" required="required"
                               data-validation-required-message=""/>
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <br/>

                <div id="success">{{ message_success }}</div>
                <div class="form-group">
                    <button class="btn btn-primary btn-xl" id="upload" type="submit">Upload</button>
                </div>
            </form>

        </div>
    </div>
{% endblock %}